@use 'variables';
@use 'start';
@use 'setup';
@use 'game';
@use 'card';
@use 'modal';
@use 'exit-confirm';
@use 'game-over';
@use 'winner';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Red Rose', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.app {
  min-height: 100vh;
}
